test
test2
lem_monster
test_super3
test_super4
bigsuper1
bigsuper2
bigsuper3
bigsuper4
bigsuper5
out
.DS_Store
empty
invalid1
invalid2
invalid3
invalid4
invalid5
invalid6
invalid7
invalid71
invalid8
invalid9
invalid10
invalid11
invalid12